

nav ul li {
  display: inline;
  margin-right: 90px; /* Adjust the value to add more space */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Page content styles */
.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}


.center-image {
  display: block;
  margin: 0 auto;
}
